.middle {
  width: 100%;
  height: 500px;
  background-image: linear-gradient(200deg, #122066 41%, #db1d6f 100%);
  background-size: 100% 100%;
  text-align: center;
}
.middle h1 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 3;
  margin: 0 0 1rem;
  margin-top: 3rem;
}
.middle p {
  color: rgb(179, 167, 167);
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  margin: 18px;
  font-weight: 400;
}
.counting-sec {
  padding: 40px 0px;
  width: 100%;
}
.inner-width {
  max-width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.col1 {
  flex: 1;
  text-align: center;
  padding: 20px;
  color: white;
}
.col1 i {
  font-size: 40px;
  color: #ffffff;
}
.countup {
  font-size: 45px;
  color: rgb(253, 202, 33);
  margin: 40px 0;
}
.col1 h3 {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 3px;
  font-size: 20px;
  color: #ffffff;
}
@media screen and (max-width: 600px) {
  .middle {
    width: 100%;
    height: auto;
  }
}

.quote-form .form-request-quote {
  padding-top: 150px;
  padding-bottom: 150px;
  width: 70%;
  margin: auto;
}
@media only screen and (max-width: 600px) {
  .main {
    margin-top: 76px;
  }
}
